<%- include('partials/head'); -%>
    <%- include('partials/nav'); -%>

        <h1 class="text-center">Edit order <%= order.id %>
        </h1>

        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input value="<%= order.name %>" type="text" class="form-control nameInput" name="name">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price in USD</label>
                <input value="<%= order.price %>" type="number" class="form-control priceInput" name="price">
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input value="<%= order.quantity %>" type="number" class="form-control quantityInput" name="quantity">
            </div>
            <button value="<%= order.id %>" class="btn btn-info confirmEditButton">Edit order</button>
        </form>

        <script src="/js/sendPut.js"></script>

        <%- include('partials/footer'); -%>