<%- include('partials/head'); -%>
    <%- include('partials/nav'); -%>

        <table class="table table-striped table-hover table-borderless">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach((order, index)=> { %>
                    <tr>
                        <th scope="row">
                            <%= index + 1 %>
                        </th>
                        <td>
                            <%= order.id %>
                        </td>
                        <td>
                            <%= order.name %>
                        </td>
                        <td>
                            <%= order.price %> USD
                        </td>
                        <td>
                            <%= order.quantity %>
                        </td>
                        <td><button class="btn btn-info">Edit</button></td>
                        <td><button value="<%= order.id %>" class="btn btn-danger deleteButton">Delete</button></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <script src="/js/sendDelete.js"></script>

        <%- include('partials/footer'); -%>